<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quote.mapper.QuotePriceHistoryMapper">

    <select id="selectLatestByProductIds" resultType="com.ruoyi.quote.domain.QuotePriceHistory">
        SELECT `product_id`, `quote_date`, `retail_price`,
               `distributor1_price`, `distributor2_price`
        FROM `quote_price_history`
        WHERE `id` IN (
            SELECT MAX(`id`)
            FROM `quote_price_history`
            WHERE `product_id` IN
            <foreach collection="productIds" item="productId" open="(" separator="," close=")">
                #{productId}
            </foreach>
            GROUP BY `product_id`
        )
    </select>

</mapper>
