<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.analysis.mapper.AnalysisRefundFactMapper">

    <select id="selectByRefundKey" resultType="com.ruoyi.analysis.domain.AnalysisRefundFact">
        select * from ana_refund_fact where refund_key = #{refundKey} limit 1
    </select>

    <select id="selectByRefundDate" resultType="com.ruoyi.analysis.domain.AnalysisRefundFact">
        select * from ana_refund_fact where refund_date = #{refundDate}
    </select>
</mapper>
