<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.analysis.mapper.AnalysisRebateDetailMapper">

    <select id="selectByActivityId" resultType="com.ruoyi.analysis.domain.AnalysisRebateDetail">
        select * from ana_rebate_detail where activity_id = #{activityId} order by id asc
    </select>

    <delete id="deleteByActivityId">
        delete from ana_rebate_detail where activity_id = #{activityId}
    </delete>
</mapper>
