<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProductSkuMapper">
    
    <resultMap type="ProductSku" id="ProductSkuResult">
        <result property="id"    column="id"    />
        <result property="brand"    column="brand"    />
        <result property="category"    column="category"    />
        <result property="spuCode"    column="spu_code"    />
        <result property="skuCode"    column="sku_code"    />
        <result property="productName"    column="product_name"    />
        <result property="specName"    column="spec_name"    />
        <result property="barCode"    column="bar_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="seriesCode"    column="series_code"    />
        <result property="seriesName"    column="series_name"    />
        <result property="isSeriesNumber"    column="is_series_number"    />
        <result property="skuStatus"    column="sku_status"    />
        <result property="deleted"    column="deleted"    />
        <result property="sortOrder"    column="sort_order"    />
    </resultMap>


</mapper>