<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.WeComUserRelationMapper">
    <resultMap id="WeComUserRelationResult" type="com.ruoyi.user.domain.WeComUserRelation">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="wecomUserId" column="wecom_user_id"/>
        <result property="lastSyncTime" column="last_sync_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>
