package ${packageName}.facade;

import java.util.List;
import ${packageName}.domain.${ClassName};
import ${packageName}.model.bo.${ClassName}BO;
import com.ruoyi.common.model.SortBy;
import com.ruoyi.common.model.page.PageBO;
import com.ruoyi.common.model.PageParamV2;
import ${packageName}.model.param.${ClassName}Param;
import ${packageName}.model.query.${ClassName}Query;

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Facade {

	List<${ClassName}BO> list(${ClassName}Query query, SortBy sort);

	PageBO<${ClassName}BO> listPage(${ClassName}Query query, PageParamV2 pageParam);

	${ClassName}BO save(${ClassName}Param param);

	${ClassName}BO getOne(${ClassName}Query query);

	boolean update(${ClassName}Param param,${ClassName}Query query);

}
