package ${packageName}.facade.impl;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;

import com.baomidou.mybatisplus.core.conditions.Wrapper;

import java.util.List;
import com.ruoyi.framework.mybatis.DynamicCondition;
import com.ruoyi.common.model.SortBy;
import com.ruoyi.common.model.page.PageBO;
import com.ruoyi.common.model.PageParamV2;
import com.ruoyi.common.utils.PageUtils;
import com.ruoyi.framework.mybatis.DynamicCondition;
import ${packageName}.domain.${ClassName};
import ${packageName}.facade.I${ClassName}Facade;
import ${packageName}.model.query.${ClassName}Query;
import ${packageName}.model.bo.${ClassName}BO;
import ${packageName}.model.param.${ClassName}Param;
import ${packageName}.convert.${ClassName}Cov;
import ${packageName}.manager.${ClassName}Manager;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;


/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
 @Slf4j
 @Service
public class ${ClassName}FacadeService implements I${ClassName}Facade {

    @Autowired
    private ${ClassName}Manager ${className}Manager;

    @Override
    public List<${ClassName}BO> list(${ClassName}Query query, SortBy sort) {

        return ${ClassName}Cov.INSTANCE.listToBO(${className}Manager.list(DynamicCondition.toWrapper( query)));
    }


     @Override
     public PageBO<${ClassName}BO> listPage(final ${ClassName}Query query, final PageParamV2 pageParam) {
         PageUtils.startPage(pageParam);
         Wrapper<${ClassName}> wrapper = DynamicCondition.toWrapper(query, pageParam.getSort());
         return PageUtils.fromList(${className}Manager.list(wrapper),  ${ClassName}Cov.INSTANCE::listToBO);
     }

     @Override
     public ${ClassName}BO save(final ${ClassName}Param param) {
         ${ClassName} ${className} = ${ClassName}Cov.INSTANCE.toEntity(param);
         ${className}Manager.save(${className});
         return ${ClassName}Cov.INSTANCE.toBO(${className});
     }


    @Override
    public ${ClassName}BO getOne(${ClassName}Query query) {
        return ${ClassName}Cov.INSTANCE.toBO(${className}Manager.getOne(DynamicCondition.toWrapper( query)));
    }

    @Override
    public boolean update(${ClassName}Param param,${ClassName}Query query) {
        return ${className}Manager.update(${ClassName}Cov.INSTANCE.paramToDomain(param),DynamicCondition.toWrapper( query));
    }

}
